/*======== Standard Header ========*/
.tornado-header {
    $thisHeight:76px;
    padding:0 15px;
    background: #FFF;
    @extend %fast-motion;
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    //=== Container Layout ===//
    .container,.container-fluid,.container-xl {
        @extend %flexbox;
        @extend .align-between;
        @extend .align-center-y;
        min-height:$thisHeight;
        &::after{ display: none; }
    }
    //=== Logo ===//
    .logo {
        display: inline-block;
        width:114px;
        height: 36px;
        background: url('../img/logo.png') no-repeat center;
        background-size: 100% auto;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    //=== Navigation Menu ===//
    .navigation-menu {
        @include navigation-custom-theme (
            $height:$thisHeight,// Height
            $font-size:15px, // Font-size
            $font-weight:$medium-weight, // Font Weight
            $color:$gray-color, // Text Color
            $hvr-color:$primary-color, // Hover Color
            $hvr-bg:transparent, // Hover Background
            $sub-color:$black-color, // Submenu Color
            $sub-bg:#FFF,// Submenu Background
            $sub-font-size:14px, // Submenu Font-size
            $sub-height:40px, // Submenu Height
            $sub-hvr-bg:rgba(0, 0, 0, 0.05), // Submenu Hover Background
            $sub-hvr-color:$primary-color // Submenu Hover Color
        );
        > ul > li > a { text-transform: uppercase; }
    }
    
    //=== Actions Buttons ===*/
    .action-btns {
        .icon-btn {
            display: inline-block;
            @include large(true){ &.menu-btn{display: none;} };
            font-size:21px;
            color:$gray-color;
            width:38px;
            height: 38px;
            text-align: center;
            line-height: 35px;
            @extend %fast-motion;
            &:hover { color:$black-color; }
        }
    }

    //=== Actions Buttons ===*/
    .dropdown {
        .dropdown-list {
            #{$direction}:auto;
            #{$directionReverse}:0;
            &::after,&::before { 
                #{$direction}:auto;
                #{$directionReverse}:12px;
             }
        }

        @include medium(true){
            &:hover {
                .dropdown-list{display: block;}
            }
        };
        
        @include small(false) {
            position: static;
            .dropdown-list {
                margin-top: -18px;
                width:100%;
                &::before{display: none;}
                &::after{display: none;}
            }
        };
    }

    //=== Search Box ===*/
    .search-box {
        display: inline-block;
        position: relative;
        @include medium(true) { width:230px; }
        &.form-ui { input { margin-bottom: 0; } }
        .search-btn {
            position: absolute;
            #{$directionReverse}:0;
            top:0;
            bottom: 0;
            background:transparent;
            color:$gray-color;
            width:38px;
            border:0 none;
            cursor: pointer;
        }
    }

    .btn {
        margin-#{$direction}: 15px;
    }

    &.is-sticky{
        position: fixed;
        top:0;
        left: 0;
        right: 0;
    }
}