/*==== Typography ====*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: $primary-font;
    font-weight: $medium-weight;
    margin:0 auto;
}

/*==== Typography Text Elements ====*/
h1,.h1 {font-size: 2rem;}
h2,.h2 {font-size: 1.813rem;}
h3,.h3 {font-size: 1.563rem;}
h4,.h4 {font-size: 1.375rem;}
h5,.h5 {font-size: 1.25rem;}
h6,.h6 {font-size: 1.125rem;}
.large-text {font-size: 1.125rem;}
.medium-text {font-size: 1rem;}
.small-text {font-size: 0.875rem;}
p{padding:0;margin:0;margin-bottom: $gutterSize/2}
/*==== Typography Utilities ====*/
.tx-uppercase{text-transform: uppercase;}
.tx-capitalize{text-transform: capitalize;}
.tx-line-through{text-decoration:line-through;}
/*==== Alignment ====*/
.tx-align-start{text-align: start;}
.tx-align-end{text-align:end;}
.tx-align-right{text-align: right;}
.tx-align-left{text-align: left;}
.tx-align-center{text-align: center;}
.tx-align-justify{text-align:justify;}
/*==== Coloring ====*/
.tx-success{color:$success-color;}
.tx-danger{color:$danger-color;}
.tx-warning{color:$warning-color;}
.tx-primary{color:$primary-color;}
.tx-secondary{color:$secondary-color;}
/*==== Default Lists ====*/
ul,ol,dl{
    &.tornado-ui{
        display:block;
        padding:0;
        margin:auto;
        padding-#{$direction}:15px;
        margin-bottom:$gutterSize;
        ul,ol{
            padding: 0;
            margin: 0;
            padding-#{$direction}:15px;
        }
    }
}

dl.tornado-ui{
    dt{
        font-weight: $strong-weight;
        &:not(:first-child){margin-top:$gutterSize/2;}
    }
    dd{
        padding:0;margin:0;padding-#{$direction}:10px;
        &:before{content:'_';display: inline-block;margin-#{$directionReverse}:5px;vertical-align:middle;position: relative;top:-7px;}
    }
}

ul.tornado-ui,ol.tornado-ui{
    li{font-size: 0.9375rem;margin-bottom: 10px;}
}

/*==== Blocks Quotes ====*/
blockquote {
    //==== Default Theme ====//
    margin:0;
    position: relative;
    padding-#{$direction}:3rem;
    margin-bottom: 30px;
    font-size:1rem;
    color:$typo-color;
    @extend %minus-indexing;
    // icon
    &:before { 
        font-family: $font-icon;
        @extend .ti-quote-#{$direction}:before;
        position: absolute;
        font-size:2.125rem;
        color:rgba(0,0,0,.10);
        #{$direction}:0;
        top:0;
        font-style:normal;
        line-height: 1;
        z-index: -1;
    }
    // Source Name
    .quote-name {
        font-size:14px;
        font-weight: $strong-weight;
        display: block;
        color:$black-color;
        margin-top: 10px;
        &:before { content:'-'; display: inline-block; margin-right: 5px;z-index: -1;}
    }

    // Theme 2
    &.theme-2 {
        padding:2rem;
        background:#FFF;
        border: 1px solid rgba(0,0,0,.10);
        -webkit-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.04);
                box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.04);
        &:before{
            top:auto;
            bottom: 1.563rem;
            font-size:2.875rem;
            #{$direction}:auto;
            #{$directionReverse}:1.563rem;
            color:#FFF;
            text-shadow:-2px -2px 0 rgba(0,0,0,.10),  2px -2px 0 rgba(0,0,0,.10),-2px 2px 0 rgba(0,0,0,.10),2px 2px 0 rgba(0,0,0,.10);
        }
    }

    // Theme 3
    &.theme-3 {
        padding:0 1.25rem;
        background:#FFF;
        border-left: 5px solid rgba(0,0,0,.10);
        &:before{
            top:50%;
            font-size:6rem;
            #{$direction}:auto;
            #{$directionReverse}:1.563rem;
            @extend %position-center-y;
            color:#FFF;
            text-shadow:-2px -2px 0 rgba(0,0,0,.05),  2px -2px 0 rgba(0,0,0,.05),-2px 2px 0 rgba(0,0,0,.05),2px 2px 0 rgba(0,0,0,.05);
        }
    }

    // Theme 4
    &.theme-4 {
        padding:1.5rem 2rem;
        padding-#{$directionReverse}:3rem;
        background:#e7e8ea;
        border: 1px solid rgba(0,0,0,.10);
        -webkit-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.04);
                box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.04);
        &:before{
            top:1rem;
            #{$direction}:auto;
            #{$directionReverse}:1rem;
            font-size:2rem;
        }
    }
}
