/*===== Modals =====*/
.modal-box {
    //==== Base
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	visibility:hidden;
	position:fixed;
	left:0;
	right:0;
	height:100vh;
	top:0;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	z-index:99999;
    opacity:0;
    //===== Activate 
    &.active{
        visibility:visible;
        opacity:1;
        -webkit-transition: all 0.5s;
        transition:all 0.5s;
    }
    //=== Overlay
    .modal-overlay{
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        top:0;
        background:rgba(0,0,0,.75);
        z-index:-1;
    }
    //=== Content Box
    .modal-content{
        position:relative;
        z-index:100;
        background:#FFF;
        overflow:auto;
        max-height:90vh;
    }

    .close-modal{
        cursor:pointer;
    }

    //=== Theme
    &.tornado-ui {
        .modal-content{
            width:640px;
            border-radius:8px;
            -webkit-box-shadow:0 0 10px 2px rgba(0,0,0,.50);
            box-shadow:0 0 10px 2px rgba(0,0,0,.50);
            @include small(false) { width:85%; }
            //=== Head
            .modal-head{
                padding:15px 20px;
                border-bottom:1px solid rgba(0,0,0,.10);
                font-weight:700;
                .close-modal{
                    float:left;
                    font-size:18px;
                }
            }
            //=== Body
            .modal-body{
                padding:20px;
            }
            //=== Footer
            .modal-footer{
                padding:15px 20px;
                border-top:1px solid rgba(0,0,0,.10);
                .btn{
                    margin-bottom:-5px;
                }
            }            
        }
    }
}