/*======== Global CSS ========*/
.slick-dotted.slick-slider{margin-bottom: 0;}
.form-box {
    margin-bottom: 30px;
    border-radius: 5px;
    background: #FFF;
    border:1px solid rgba(0, 0, 0, 0.10);
    padding:30px;
    h3 {
        font-size:22px;
        color:$primary-color;
    }
}

.wow {
    visibility: hidden;
}

.animated,
.viewActive {
    visibility: visible;
}

.fake-m-label{ color:transparent;visibility: hidden; }

.quantity-input {
    position: relative;
    input {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    }
    .increase,.dicrease {
        position: absolute;
        #{$directionReverse}:0;
        width:25px;
        cursor: pointer;
        top:8px;
        height: 16px;
        line-height: 16px;
        font-size:8px;
    }
    .dicrease{top:24px;line-height: 10px;}
}

.small .quantity-input {
    .increase,.dicrease {
        position: absolute;
        #{$directionReverse}:0;
        width:25px;
        cursor: pointer;
        top:5px;
        height: 15px;
        line-height: 15px;
        font-size:8px;
    }
    .dicrease{top:17px;line-height: 10px;}
}

.search-section {
    border-bottom: 1px solid rgba(0,0,0,0.10);
    padding-top: 25px;
}

.light-btn {
    display: block;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 30px;
    img {
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom: 0;
        width:100%;
        height: 100%;
        @extend %fast-motion;
    }
    &::before {
        position: absolute;
        top:50%;
        left:50%;
        @extend %position-center-z;
        color:#FFF;
        font-size:35px;
        opacity: 0;
        z-index: 2;
        @extend %fast-motion;
    }
    &:hover {
        img{opacity: 0.7;}
        &::before{opacity: 1;}
    }
}

.pagination{
    @extend %reset;
    word-spacing: -5px;
    display: block;
    font-size:14px;
    font-weight: $medium-weight;
    color:$secondary-color;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    li {
        width:45px;
        height: 45px;
        display: inline-block;
        margin: 0 5px;
        text-align: center;
        background: #FFF;
        border:1px solid rgba(0,0,0,0.10);
        @extend %fast-motion;
        a,span {
            display: block;
            line-height: 42px;
            color: $secondary-color;
            @extend %fast-motion;
        }
        &.active,&:hover{
            background:$primary-color;
            color:#FFF;
            a{ color:#FFF; }
        }
    }
}

/*======== Header Animations ========*/
.main-header.animated {
    @if ( $page-dir == 'ltr' ) {
        .logo {-webkit-animation: fadeInLeft 1s both;animation: fadeInLeft 1s both;}
        .navigation-menu > ul > li:nth-child(odd) {-webkit-animation: fadeInUp 1s both 0.2s;animation: fadeInUp 1s both 0.2s;}
        .navigation-menu > ul > li:nth-child(even) {-webkit-animation: fadeInUp 1s both 0.3s;animation: fadeInUp 1s both 0.3s;}
        .icon-btn:nth-child(1) {-webkit-animation: fadeInRight 1s both 0.4s;animation: fadeInRight 1s both 0.4s;}
        .icon-btn:nth-child(2) {-webkit-animation: fadeInRight 1s both 0.5s;animation: fadeInRight 1s both 0.5s;}
        .icon-btn:nth-child(3) {-webkit-animation: fadeInRight 1s both 0.6s;animation: fadeInRight 1s both 0.6s;}
        .icon-btn:nth-child(4) {-webkit-animation: fadeInRight 1s both 0.7s;animation: fadeInRight 1s both 0.7s;}
    } @else {
        .logo {-webkit-animation: fadeInRight 1s both;animation: fadeInRight 1s both;}
        .navigation-menu > ul > li:nth-child(odd) {-webkit-animation: fadeInUp 1s both 0.2s;animation: fadeInUp 1s both 0.2s;}
        .navigation-menu > ul > li:nth-child(even) {-webkit-animation: fadeInUp 1s both 0.3s;animation: fadeInUp 1s both 0.3s;}
        .icon-btn:nth-child(1) {-webkit-animation: fadeInLeft 1s both 0.4s;animation: fadeInLeft 1s both 0.4s;}
        .icon-btn:nth-child(2) {-webkit-animation: fadeInLeft 1s both 0.5s;animation: fadeInLeft 1s both 0.5s;}
        .icon-btn:nth-child(3) {-webkit-animation: fadeInLeft 1s both 0.6s;animation: fadeInLeft 1s both 0.6s;}
        .icon-btn:nth-child(4) {-webkit-animation: fadeInLeft 1s both 0.7s;animation: fadeInLeft 1s both 0.7s;}
    }
}

/*======== Home Slider ========*/
.home-hero {
    // background:url(../img/bg.png) top center;
    // background-attachment: fixed;
    // background-size: cover;
    //=== Primary Colored ===//
    .main-header:not(.is-sticky) {
        background:rgba(0,0,0,0.10);
        border:0 none;
        .logo{ background-image: url('../img/logo-white.png'); }
        .logo h1,.action-btns .icon-btn{ color:#FFF; }
        .navigation-menu {
            @include navigation-custom-theme (
                $height:70px,// Height
                $font-size:15px, // Font-size
                $font-weight:$medium-weight, // Font Weight
                $color:#FFF, // Text Color
                $hvr-color:$primary-color, // Hover Color
                $hvr-bg:#FFF, // Hover Background
                $sub-color:$primary-color, // Submenu Color
                $sub-bg:#FFF,// Submenu Background
                $sub-font-size:14px, // Submenu Font-size
                $sub-height:40px, // Submenu Height
                $sub-hvr-bg:rgba(0, 0, 0, 0.05), // Submenu Hover Background
                $sub-hvr-color:$black-color // Submenu Hover Color
            );
        }
    }

    .home-slider {
        .item > .row {
            padding-top: 50px;
            padding-bottom: 20px;
            min-height: calc(100vh - 70px);
            >.col-12{margin-bottom: 30px;}
            h3 {
                margin: 0;
                font-size:26px;
                color:#FFF;
                margin-bottom: 10px;
                text-transform: uppercase;
                max-width:650px;
            }
            p {
                font-size:18px;
                color:#FFF;
                margin-bottom: 15px;
            }
            h4 {
                font-size:22px;
                margin-bottom: 15px;
                color:#FFF;
                text-transform: uppercase;
            }

            .light-btn {
                position: relative;
                img {
                    border:5px solid #FFF;
                    -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.10),inset 0 0 0 11px #FFF;
                        box-shadow:inset 0 0 0 1px rgba(0,0,0,0.10),inset 0 0 0 11px #FFF;
                    min-height: 100%;
                    position: relative;
                }
            }
            .form-box {
                margin-bottom: 0;
                h3 {color:$primary-color;font-size:22px;text-transform:none;}
            }
        }
    }
    .slick-active .item > .row {
        h3 {
            -webkit-animation: fadeInUp 1s both;
            animation: fadeInUp 1s both;
        }

        p {
            -webkit-animation: fadeInUp 1s both 0.3s;
            animation: fadeInUp 1s both 0.3s;
        }

        h4 {
            -webkit-animation: fadeInUp 1s both 0.6s;
            animation: fadeInUp 1s both 0.6s;
        }

        .light-btn {
            -webkit-animation: fadeInUp 1s both 0.9s;
            animation: fadeInUp 1s both 0.9s;
        }

        @if ($page-dir=='ltr') {
            .form-box {
                -webkit-animation: fadeInLeft 1s both;
                animation: fadeInLeft 1s both;
            }
        } @else {
            .form-box {
                -webkit-animation: fadeInLeft 1s both;
                animation: fadeInLeft 1s both;
            }
        }
    }
}

/*======== Exploore Section ========*/
.exploore-section {
    overflow: hidden;
    .design-vector {
        position: relative;
        height: 350px;
        .car {
            background: url('../img/car.png');
            background-size: 100% 100%;
            position: absolute;
            left:50%;
            margin-left: -172px;
            width:344px;
            height: 194px;
            bottom: 150px;
            z-index: 2;
            -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
                    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
            &::before {
                content:'';
                display: block;
                position: absolute;
                background: url('../img/car-wheel.png') no-repeat center;
                background-size: 100% 100%;
                width:39px;
                height: 39px;
                -webkit-animation: spin 1s linear infinite;
                        animation: spin 1s linear infinite;
                bottom:37px;
                right:92px;
            }
            &::after {
                content:'';
                display: block;
                position: absolute;
                background: url('../img/car-wheel.png') no-repeat center;
                background-size: 100% 100%;
                width:35px;
                height: 35px;
                -webkit-animation: spin 1s linear infinite;
                        animation: spin 1s linear infinite;
                bottom:38px;
                left:96px;
            }
        }
        .earth-plant {
            width:500px;
            height: 500px;
            background: url('../img/earth.png');
            background-size: 100% 100%;
            position: absolute;
            #{$directionReverse}:0;
            bottom: -280px;
            -webkit-animation: spin 60s linear infinite;
                    animation: spin 60s linear infinite;
        }
    }
}

.section {
    padding-top: 50px;
    padding-bottom: 20px;
}

.section-title {
    margin-bottom: 20px;
    font-size:27px;
    color:#222222;
    text-transform: uppercase;
    span{ color:$primary-color; }
    i {
        display: block;
        font-size:15px;
        font-style: normal;
        line-height: 20px;
        &::before {
            content:'';
            display: inline-block;
            vertical-align: middle;
            width:30px;
            height: 4px;
            background: $primary-color;
            margin-#{$directionReverse}:5px;
            position: relative;
            top:-2px;
        }
    }

    + p {
        font-size:15px;
        margin-top: -10px;
        color:#7f7f7f;
    }
}

.links-list {
    @extend %reset;
    @extend %flexbox;
    margin:0 -10px;
    margin-bottom: 30px;
    li {
        width:33.333%;
        @include small(false){width:100%;};
        padding:0 10px;
        font-size:15px;
        line-height: 34px;
        color:#222222;
        &::before {
            @if ( $page-dir == 'ltr' ){
                @extend .ti-arrow-right-c,:before;
            } @else {
                @extend .ti-arrow-left-c,:before;
            }
            display: inline-block;
            width:25px;
            text-align: center;
            vertical-align: middle;
            margin-#{$directionReverse}:5px;
            font-family: $font-icon;
            color:rgba(0,0,0,0.40);
            @extend %fast-motion;
        }
        @extend %fast-motion;
        a{ color:#222222;@extend %fast-motion; }
        &:hover {
            color:$primary-color;
            a{ color:$primary-color; }
            &::before{ color:$primary-color; }
        }
    }
    /*======== Animations ========*/
    &.animated{
        @if ( $page-dir == 'ltr' ) {
            li:nth-child(1n) {-webkit-animation: fadeInLeft 1s both 0.1s;animation: fadeInLeft 1s both 0.1s;}
            li:nth-child(2n) {-webkit-animation: fadeInLeft 1s both 0.2s;animation: fadeInLeft 1s both 0.2s;}
            li:nth-child(3n) {-webkit-animation: fadeInLeft 1s both 0.3s;animation: fadeInLeft 1s both 0.3s;}
            li:nth-child(4n) {-webkit-animation: fadeInLeft 1s both 0.4s;animation: fadeInLeft 1s both 0.4s;}
            li:nth-child(5n) {-webkit-animation: fadeInLeft 1s both 0.5s;animation: fadeInLeft 1s both 0.5s;}
            li:nth-child(6n) {-webkit-animation: fadeInLeft 1s both 0.6s;animation: fadeInLeft 1s both 0.6s;}
        } @else {
            li:nth-child(1n) {-webkit-animation: fadeInRight 1s both 0.1s;animation: fadeInRight 1s both 0.1s;}
            li:nth-child(2n) {-webkit-animation: fadeInRight 1s both 0.2s;animation: fadeInRight 1s both 0.2s;}
            li:nth-child(3n) {-webkit-animation: fadeInRight 1s both 0.3s;animation: fadeInRight 1s both 0.3s;}
            li:nth-child(4n) {-webkit-animation: fadeInRight 1s both 0.4s;animation: fadeInRight 1s both 0.4s;}
            li:nth-child(5n) {-webkit-animation: fadeInRight 1s both 0.5s;animation: fadeInRight 1s both 0.5s;}
            li:nth-child(6n) {-webkit-animation: fadeInRight 1s both 0.6s;animation: fadeInRight 1s both 0.6s;}
        }
    }
}
/*======== Tours ========*/
.top-tours {
    background: url(../img/bg-2.png) top center;
    background-size: cover;
    .section-title {
        span{ color:#FFF; }
        i {
            display: block;
            color:#FFF;
            font-size:15px;
            font-style: normal;
            line-height: 20px;
            &::before {background:#FFF;}
        }
    }
}

.travel-block {
    margin-bottom: 30px;
    .content-box {
        padding:25px;
        background: #FFF;
        border:1px solid rgba(0,0,0,0.10);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        min-height: 100%;
        &:hover {
            -webkit-transform: scale(1.05);
                    transform: scale(1.05);
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.10);
                    box-shadow: 0 0 10px rgba(0,0,0,0.10);
        }
        
        h4,.image ~ h3 {
            display: inline-block;
            font-size:17px;
            color:$secondary-color;
        }

        .image {
            display: block;
            margin: -26px;
            margin-bottom: 25px;
            padding-bottom: 80%;
            overflow: hidden;
            h3 {
                position: absolute;
                bottom: 15px;
                left: 0;
                right: 0;
                color:#FFF;
                font-size:17px;
                text-transform: uppercase;
                padding:0 30px;
                line-height: 30px;
                @extend %nowrap;
                span{
                    display: block;
                    font-size:15px;
                    font-weight: normal;
                }
                z-index: 4;
            }
            .floating-badge{
                position: absolute;
                font-size:13px;
                line-height: 27px;
                height: 27px;
                padding:0 30px;
                font-weight: $medium-weight;
                background: #fb3333;
                color:#FFF;
                @if ( $page-dir == 'rtl' ) {
                    left:0;
                    top:0;
                    -webkit-transform: rotate(-40deg) translateX(-25px) translateY(-7px);
                    transform: rotate(-40deg) translateX(-25px) translateY(-7px);
                } @else {
                    right:-5px;
                    top:-12px;
                    -webkit-transform: rotate(40deg) translateX(25px) translateY(7px);
                    transform: rotate(40deg) translateX(25px) translateY(7px);
                }
            }
            .overlay-link {
                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 3;
                &::before {
                    content:'';
                    background: -webkit-gradient( linear, left bottom, left top, from(rgb(0,0,0)), to(rgba(0,0,0,0)));
                    background: linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
                    position: absolute;
                    height: 100px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
            .stars {
                position: absolute;
                top:20px;
                #{$direction}:20px;
                padding:0 15px;
                font-size:16px;
                line-height: 25px;
                height: 27px;
                background: rgba(0,0,0,0.50);
                color:#FFF;
                .active,.hover,.selected{ color:#ffe010; }
            }
        }

        .price{
            float: $directionReverse;
            font-size:22px;
            color:$primary-color;
        }
        
        p {
            display: block;
            clear: both;
            border-top:1px solid rgba(0,0,0,0.10);
            padding:15px 0;
            font-size:15px;
            color:#6b6b6b;
            padding-bottom: 0;
            height: 64px;
            overflow: hidden;
        }
        .action-area {
            @extend %flexbox;
            margin: -25px;
            margin-top: 0;
            min-height: 86px;
            span {
                display: block;
                width:33.333%;
                text-align: center;
                font-size:14px;
                line-height: 43px;
                border-top:1px solid rgba(0,0,0,0.10);
                border-#{$direction}:1px solid rgba(0,0,0,0.10);
                color:#919191;
                &:first-child{border-#{$direction}:0 none;}
                &::before {
                    font-size:18px;
                    line-height: 38px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-#{$directionReverse}:5px;
                }
            }
            .btn {
                width:50%;
                border:0 none;
                border-top:1px solid rgba(0,0,0,0.10);
                border-#{$directionReverse}:1px solid rgba(0,0,0,0.10);
                &:last-child{border-#{$directionReverse}:0 none;color:$primary-color;  }
            }
        }
    }
      
}

.tours-slider {
    margin-top: -15px;
    margin-bottom: 15px;
    .slick-slide{padding-top: 15px;}
}
.slick-slide .travel-block{margin-bottom: 0;padding-bottom: 15px;}

/*======== Call To Action ========*/
.cta-section {
    padding:30px 15px;
    background:linear-gradient( 4deg, rgb(27,115,149) 0%, rgb(39,148,190) 100%);
    .container {
        @extend %flexbox;
        @extend .align-center-y ;
        p {
            margin-top: -25px;
            font-size:19px;
            color:#FFF;
            margin-bottom: 0;
        }
        .section-title {
            span{ color:#FFF; }
            i {
                display: block;
                font-size:15px;
                font-style: normal;
                line-height: 20px;
                &::before {background:#FFF;}
            }
        }
    }
}

/*======== Hotels ========*/
.top-hotels {
    background:url('../img/bg-3.png') top center no-repeat;
    background-size: cover;
    .section-title {
        color:#FFF;
        span{ color:#ffe538; }
        i {
            color:#FFF;
            display: block;
            font-size:15px;
            font-style: normal;
            line-height: 20px;
            &::before {background:#ffe538;}
        }
    }
}

.city-block {
    margin-bottom: 30px;
    .content-box {
        padding:25px;
        background: #FFF;
        border:1px solid rgba(0,0,0,0.10);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        min-height: 100%;
        &:hover {
            -webkit-transform: scale(1.05);
                    transform: scale(1.05);
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.10);
                    box-shadow: 0 0 10px rgba(0,0,0,0.10);
        }
        .image {
            display: block;
            margin: -26px;
            margin-bottom: 25px;
            padding-bottom: 70%;
            overflow: hidden;
        }
        h3 {
            margin-top: -5px;
            font-size:17px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(0,0,0,0.10);
            color: #222222;
            @extend %nowrap;
        }
        p {
            font-size:15px;
            margin-top: 10px;
            color:#6b6b6b;
            height: 97px;
            overflow: hidden;
        }
        .read-more{
            text-transform: uppercase;
            display: block;
            text-align: $directionReverse;
            font-weight: $medium-weight;
            font-size:15px;
        }
    }
}

.contact-info {
    margin-bottom: 10px;
    h3 {
        font-size:1.438rem;
        color:$primary-color;
        text-transform: uppercase;
        margin-bottom: 10px;
        direction: $page-dir;
    }

    p {
        font-size:15px;
        line-height: 22px;
    }

    .contact-block {
        padding:15px;
        background:#fafafa;
        border:1px solid rgba(0, 0, 0, 0.1);
        font-size:15px;
        line-height: 35px;
        margin-bottom: 20px;
        &::before{
            width:45px;
            text-align: center;
            font-size:30px;
            display: inline-block;
        }
    }
}

.main-footer {
    background:#181d1f;
    color:#FFF;
    padding-top:50px;
    h2 {
        font-size:18px;
        text-transform: uppercase;
        color:#FFF;
        margin-bottom: 25px;
        &::after {
            display: block;
            content:'';
            width:70px;
            height: 3px;
            background:#FFF;
            margin-top: 5px;
        }
    }

    .links-list {
        li{
            width:100%;
            margin-bottom: 10px;
            color:#FFF;
            &::before{color:#FFF;}
            a{ color:#FFF; }
        }
    }

    .contact-info h3 {
        font-size:15px;
        font-weight: $medium-weight;
        color:#FFF;
        background:rgba(255,255,255,0.05);
        padding:0 20px;
        direction: ltr;
        line-height: 45px;
        margin-bottom: 15px;
        &::before {
            font-size:18px;
            display: inline-block;
            vertical-align: middle;
            margin-right:10px;
        }
    }

    .subscribe-form {
        margin-bottom: 30px;
        position: relative;
        .btn {
            position: absolute;
            top:1px;
            #{$directionReverse}:1px;
        }
    }
    
    .copyrights{
        border-top:1px solid rgba(255,255,255,0.05);
        font-size:15px;
        line-height: 62px;
        .container {
            @extend %flexbox;
            @extend .align-between ;
            @extend .align-center-y ;
            @include small(false){
                -ms-flex-line-pack: center;
                    align-content: center;
            };
        }
        @import 'assets/mahacode';
        .social {
            a {
                width:35px;
                height: 35px;
                display: inline-block;
                margin-#{$direction}:15px;
                margin-bottom: 15px;
                line-height: 33px;
                font-size:17px;
                border-radius: 50%;
                color:#FFF;
                text-align: center;
                position: relative;
                &.ti-facebook {background: #517de0;}
                &.ti-twitter {background: #51c7e0;}
                &.ti-whatsapp {background: #5cc042;}
                &.ti-instagram {background: #d43f8d;}
                &.ti-linkedin {background: #2878da;}
                &.ti-youtube-play,&.ti-youtube {background: #e73333;}
                &.ti-googleplus ,&.ti-google-plus {background: #e73333;}
                &.ti-pinterest {background: #e73333;}
                &.ti-snapchat {background: #cce733;color:#181d1f;}
            }
        }
    }
}

/*======== Details Page's ========*/
.page-head {
    background:url('../img/bg.png') center;
    background-size: cover;
    padding:35px 15px;
    h1, > .container > a {
        font-size:21px;
        text-transform: uppercase;
        margin: 0;
        color:#FFF;
    }
    .breadcrumb {
        background: transparent;
        text-transform: uppercase;
        border:0 none;
        padding:0;
        color:#FFF;
        margin: 0;
        a{ color:#FFF; }
    }
}

.page-content {
    padding-top: 50px;
    padding-bottom: 30px;
}

.city-details {
    padding-top: 50px;
    margin-bottom: 50px;
    .cover {margin-bottom: 30px;}
    h2 {
        font-size:20px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    p {
        font-size:15px;
        color:#6b6b6b;
        margin-bottom: 20px;
    }
}

.tour-details {margin-bottom: 50px;}

.check-list {
    @extend %reset;
    @extend %flexbox;
    margin:0 -10px;
    margin-bottom: 30px;
    li {
        width:50%;
        @include small(false){width:100%;};
        padding:0 10px;
        font-size:15px;
        line-height: 34px;
        color:#222222;
        font-weight: $medium-weight;
        &::before {
            display: inline-block;
            width:25px;
            text-align: center;
            vertical-align: middle;
            margin-#{$directionReverse}:5px;
            font-family: $font-icon;
            color:rgba(0,0,0,0.40);
            @extend %fast-motion;
        }
        @extend %fast-motion;
        a{ color:#222222;@extend %fast-motion; }
        &:hover {
            color:$primary-color;
            a{ color:$primary-color; }
            &::before{ color:$primary-color; }
        }
    }
}

.tour-details,.city-details{
    + .page-content{padding-top: 0;}
}

.primary-details {
    .head{
        margin-bottom: 30px;
        display: inline-block;
        h1 {
            text-transform: uppercase;
            margin: 0;
            font-size:21px;
            color:$primary-color;
        }
        .breadcrumb {
            background: transparent;
            text-transform: uppercase;
            border:0 none;
            padding:0;
            margin: 0;
            a{ color:$secondary-color; }
        }
    }
    .price {
        float: $directionReverse;
        + .row{clear: both;}
        font-size:21px;
        color:$primary-color;
        span{
            display: block;
            font-size:15px;
            color:#7b7b7b;
        }
    }
    .cover{margin-bottom: 30px;display: block;width:100%;}
    h3 {
        font-size:20px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    p {
        font-size:14px;
        color:#6b6b6b;
        margin-bottom: 15px;
    }
}

.tour-features {
    background: #f0f0f0;
    margin-bottom: 50px;
}

.feature-block {
    margin-bottom: 20px;
    text-align: center;
    i {
        display: block;
        margin: auto;
        margin-bottom: 15px;
        width:65px;
        height: 65px;
        line-height: 61px;
        border:2px solid $secondary-color;
    }
    h3 {
        font-size:21px;
        margin: 0;
        margin-bottom: 5px;
        line-height: 1;
    }
    h4 {
        font-size:15px;
        text-transform: uppercase;
        margin: 0;
        line-height: 1;
        font-weight: normal;
    }
}

.info-list {
    @extend %reset;
    margin:0 -10px;
    margin-bottom: 30px;
    li {
        padding:0 10px;
        font-size:15px;
        line-height: 22px;
        margin-bottom: 15px;
        color:#222222;
        @extend %fast-motion;
        vertical-align: text-top;
        strong{
            display: inline-block;
            width:125px;
            vertical-align: text-top;
        }
        .inclouded-info {
            display: inline-block;
            width:calc(100% - 135px);
            vertical-align: text-top;
            span {
                display: inline-block;
                margin-#{$directionReverse}:15px;
                margin-bottom: 10px;
                &::before {
                    display: inline-block;
                    margin-#{$directionReverse}:5px;
                }
                &.ti-close::before{font-size:0.8em;}
            }
        }
        a{ color:#222222;@extend %fast-motion; }
    }
}

.program-block{
    margin-bottom: 30px;
    img{margin-bottom: 30px;display: block;width:100%;}
    h3 {
        font-size:20px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    p {
        font-size:14px;
        color:#6b6b6b;
        margin-bottom: 15px;
    }
    &:nth-child(even) .row{-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;}
}

.main-box {
    margin-bottom: 30px;
    border-radius: 5px;
    background: #FFF;
    border:1px solid rgba(0, 0, 0, 0.10);
    padding:30px;
    h3 {
        font-size:22px;
        color:$primary-color;
    }
}

ul.reviews-rate {
    @extend %reset;
    margin:15px -10px;
    @extend %flexbox;
    li {
        width:50%;
        @include small(false){width:100%;};
        padding:0 10px;
        font-size:15px;
        line-height: 35px;
        color:#222222;
        @extend %fast-motion;
        font-weight: $medium-weight;
        span{
            display: inline-block;
            width:50%;
        }
        .stars {
            display: inline-block;
            font-size:15px;
            color:#b6b6b6;
            .active,.hover,.selected{ color:$primary-color; }
        }
        a{ color:#222222;@extend %fast-motion; }
    }
}

.review-block {
    margin-bottom: 30px;
    border-radius: 5px;
    background: #FFF;
    border:1px solid rgba(0, 0, 0, 0.10);
    padding:30px;
    @extend %flexbox;
    img {
        width:90px;
        height: 90px;
    }
    .info {
        width:calc(100% - 90px);
        padding-#{$direction}:25px;
    }
    h3 {
        font-size:16px;
        display: inline-block;
        margin-bottom: 10px;
    }
    h4 {
        float:$directionReverse;
        font-size:15px;
        .stars {
            display: inline-block;
            font-size:15px;
            color:#b6b6b6;
            .active,.hover,.selected{ color:$primary-color; }
        }
    }
    p {
        font-size:15px;
        margin: 0;
    }
}

.media-slider {
    position: relative;
    .slick-prev,.slick-next{
        position: absolute;
        top:0;
        bottom: 0;
        z-index: 10;
    }
    .video-block {
        background: #000;
        width:595px!important;
        .light-btn{
            margin: 0;
            display: block;
            padding-bottom:60.5%;
            opacity: 0.7;
            @extend %fast-motion;
            margin-bottom: 0;
        }
        &:hover .light-btn{opacity: 1;}
    }
    .photo-block {
        background: #000;
        width:360px!important;
        .light-btn{
            display: block;
            padding-bottom:100%;
            opacity: 0.7;
            @extend %fast-motion;
            margin-bottom: 0;
        }
        &:hover .light-btn{opacity: 1;}
    }
}

.order-form {
    margin-bottom: 30px;
    h3 {
        font-size:1.438rem;
        color:$primary-color;
        text-transform: uppercase;
        margin-bottom: 10px;
        direction: $page-dir;
    }

    p {
        font-size:15px;
        line-height: 22px;
    }
}

.responsive-map {
	position:relative;
	width:100%;
    iframe{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

.error-404 {
    .content {
        padding:35px;
        margin:30px 0;
        border:4px solid #e34444;
        text-align: center;
        span{display: block;margin-bottom: 10px;}
        h2 {
            font-size:96px;
            margin: 0;
            line-height: 1;
            color:#e34444;
        }
        p {
            font-size:21px;
            color:#e34444;
            margin: 0;
        }
    }
}

.chosen-container{margin-bottom: 25px;}

.scroll-up{
    position: fixed;
    width:48px;
    height: 48px;
    line-height: 48px;
    background:$primary-color;
    color:#FFF;
    font-size:22px;
    text-align: center;
    bottom:50px;
    left:50px;
    border-radius: 50%;
    opacity: 0;
    @extend %fast-motion;
    &.active{opacity: 1;}
    z-index: 100;
}

.whatsapp-btn{
    position: fixed;
    width:48px;
    height: 48px;
    line-height: 48px;
    background:$whatsapp-color;
    color:#FFF;
    font-size:22px;
    text-align: center;
    top:50%;
    #{$direction}:0;
    z-index: 100;
}

.tornado-header .logo{
    background-size: 100% auto;
}