/*================================
=                                =
=  - Tornado CSS v2              =
=  - Userinterface Framework     =
=  - by Abdullah Ramadan         =
=  - http://eng-code.com         =
=  - Open Source Framework       =
=                                =
================================*/

//========== Global Variables ==========//
$page-dir:ltr;
$page-dir-reverse:rtl;
$direction:left;
$directionReverse:right;
//========== Colors Variables ==========//
$primary-color:#2794be;
$primary-color-hover:#30b3e5;
$secondary-color:#2b2e2f;
$secondary-color-hover:#1a1f21;
$reverse-color:#FFF;
$reverse-color-dark:#1c1c1c;
$light-color:#cad0e0;
$black-color:#222222;
$typo-color:#555555;
//=== Assets text colors ====//
$success-color:#22b544;
$danger-color:#de3131;
$warning-color:#f4bb0e;
$info-color:#17c0db;
$gray-color:#868e96;
$dark-color:#343a40;
//=== Assets backgrounds ====//
$success-bg:#c1eecc;
$danger-bg:#fbbbbb;
$warning-bg:#ffdd75;
$info-bg:#a6eaf5;
$gray-bg:#d9dde1;
$dark-bg:#343a40;
//==== Social Colors ====//
$facebook-color:#505cd6;
$twitter-color:#1da1f2;
$google-plus-color:#ea4335;
$youtube-color:#e43e3c;
$tumblr-color:#35465c;
$instagram-color:#d43f8d;
$android-color:#a4c639;
$snapchat-color:#d1d327;
$whatsapp-color:#10d058;
$pinterest-color:#bd081c;
$linkedin-color:#0077b5;
$behance-color:#1769ff;
$apple-color:#dbebfa;
$clpudflare-color:#faae40;
$dribbble-color:#ea4c89;
$envato-color:#82b541;
$flicker-color:#0063dc;
$github-color:#f5f5f5;
//========== Typography ==========//
$primary-font:'Roboto', sans-serif; // font family for Head's and Titles
$secondary-font:'Roboto', sans-serif; // font family for Paragraph and Small Text
$font-icon:"tornado-icons"; // icons Font Family
$base-l-size:16px; // Base Font Size For Large Screens
$base-m-size:15px; // Base Font Size For Medium Screens
$base-s-size:14px; // Base Font Size For Small Screens
$base-line-height:1.625; // Base Line Height
$normal-weight:400; // Normal Font Weight
$medium-weight:500; // Medium Font Weight
$strong-weight:700; // Bold/Bolder Font Weight
//========== Grid System ==========//
$grid-columns:12; // Numbers of Gride Columns
$gutterSize:30px; // the Space Between Columns
$gutterMath:$gutterSize/2; // the Space Between Columns Divided
//====== Media Query Minimum Size =======//
$xSmall-query:360px; //  Mobile Screen Size to start from
$small-query:576px; //  Mobile Screen Size to start from
$medium-query:768px; // Tablet Screen Size to start from
$large-query:1024px; // Desktop Screen Size to start from
$xlarge-query:1360px; // Big Desktop Screen Size to start from
//====== Media Query Maximum Size =======//
$xSmall-query-down:480px; //  Mobile Screen Size to start from
$small-query-down:640px; //  Mobile Screen Size to start from
$medium-query-down:980px; // Tablet Screen Size to start from
$large-query-down:1200px; // Desktop Screen Size to start from
$xlarge-query-down:1600px; // Big Desktop Screen Size to start from
/*========== Loading Fonts ==========*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@font-face {
    font-family: "tornado-icons";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/tornado-icons.woff') format('woff');
}
//========== Global Sass ==========//
@import 'assets/selectors';
@import 'assets/mixins';
@import 'assets/reset';
@import 'assets/utilities';
@import 'assets/lightbox';
@import 'assets/datepicker';
/*========== Global Sass ==========*/
@import 'tornado-icons';
@import 'grid/grid-system';
/*========== Elements ==========*/
@import 'elements/typography';
@import 'elements/responsive-menus';
@import 'elements/headers';
@import 'elements/breadcrumbs';
@import 'elements/media-objects';
@import 'elements/jumbtron';
@import 'elements/labels';
@import 'elements/cards';
/*========== Forms ==========*/
@import 'forms/select';
@import 'forms/form-themes';
/*========== Components ==========*/
@import 'components/animations';
@import 'components/tables';
@import 'components/tabs-system';
@import 'components/slick-slider';
@import 'components/modals';
/*========== Blank Project Theme ==========*/
@import 'theme';